---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import userDP from '../images/image-jeremy.png';
import { Image, Picture } from '@astrojs/image/components';

const timespans = ['Daily', 'Weekly', 'Monthly'];

import Buttons from '../components/Buttons.tsx';
---

<Layout title='Time Tracking Dashboard'>
  <main class='mx-auto w-full max-w-[1110px]'>
    <div id='dashboard' class='grid grid-cols-4'>
      <div id='user' class='rounded-[16px] bg-dark-blue'>
        <div id='user-details' class='rounded-[16px] bg-blue p-[32px]'>
          <Image
            src={userDP}
            alt='user display'
            width={84}
            height={84}
            class='mb-[34px]'
          />
          <p class='text-[14px]'>Report for</p>
          <h1 class='text-[40px] text-white'>Jeremey Robson</h1>
        </div>

        <Buttons client:load />
      </div>
    </div>
  </main>
</Layout>
